@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
* .c1 {
  border: red solid 3px;
}
* .c2 {
  border: blue solid 3px;
}
* .c3 {
  border: green solid 3px;
}
* .c4 {
  border: orange solid 3px;
}
* .c5 {
  border: purple solid 3px;
}
* hr {
  width: 25%;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: -20px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
header .logo {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase; /* MAJUSCULE */
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 2px;
}
header .logo img {
  width: 25px;
  display: none;
}
@media screen and (max-width: 570px) {
  header .logo {
    display: none;
  }
  header ul {
    width: auto;
    margin: 0 auto;
  }
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  position: relative;
  list-style: none;
  margin-right: 50px;
}
header ul li a {
  font-weight: 200;
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
}
header ul li a:hover {
  color: darkorange;
}

header.sticky {
  background-color: #fff;
  padding: 20px 100px;
}
header.sticky .logo {
  color: #000;
}
header.sticky ul li a {
  color: #000;
}

@media screen and (max-width: 570px) {
  header {
    margin: 30px auto;
    padding: 0;
  }
  header ul li {
    margin-right: 15px;
  }
  header ul li a {
    font-size: 1.2rem;
    font-weight: 400;
  }
}
@media screen and (max-width: 770px) {
  .logo {
    margin-right: 40px;
  }
}
.banner {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../img/LOUVRE.jpeg);
  background-size: cover;
}
.banner::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
.banner .textBx {
  z-index: 100;
  padding: 0 100px;
  margin-top: 200px;
  float: right;
}
.banner h2 {
  font-size: 3em;
  color: #fff;
  font-weight: 500;
  line-height: 1.5em;
}
.banner h2 span {
  font-size: 1.5em;
  font-weight: 700;
}
.banner h3 {
  font-size: 1.2em;
  color: #fff;
  font-weight: 200;
}
.banner .btn {
  position: relative;
  background: lightgrey;
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  padding: 7px 25px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
  transition: 0.5s;
}
.banner .btn:hover {
  opacity: 0.9;
}

.pres {
  height: 100vh;
  display: flex;
  align-items: center;
}
.pres h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  color: #000;
  margin-bottom: 30px;
}
.pres hr {
  width: 15%;
}
.pres .presBx {
  display: flex;
  width: 90%;
  margin: 0 auto;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-direction: row-reverse;
}
.pres .presBx p {
  position: relative;
  background-color: #fff;
  left: 30px;
  bottom: 50px;
  box-shadow: 2px 2px 4px grey;
  border-radius: 15px;
  padding: 30px 70px;
  z-index: 100;
}
.pres .presBx img {
  width: 55%;
  z-index: 14;
}

/* Project part */
.projet {
  padding: 150px 100px;
  background: #222;
  z-index: -100000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 50vh;
}
.projet p, .projet h2 {
  color: #fff;
  text-align: center;
}
.projet p {
  font-size: 1.2em;
  font-weight: 300;
}
.projet a {
  text-decoration: underline;
  color: #fff;
}
.projet span h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  color: #fff;
  margin-bottom: 30px;
}
.projet .box {
  position: relative;
  width: 300px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  background: #060c21;
  transition: 0.5s;
  z-index: 100;
}
.projet .box:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}
.projet .box:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  filter: blur(10px);
}
.projet .box:hover {
  height: 350px;
}
.projet .box:hover .contentImg {
  opacity: 1;
}
.projet .box span img {
  height: 250px;
  /* padding: 1% 20%; */
}
.projet .box span .box:hover {
  height: 400px;
}
.projet .box span .box:hover .imgBx img {
  opacity: 0.1;
}
.projet .box span .box img {
  margin-left: 16px;
}
.projet .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  box-sizing: border-box;
}
.projet .box .imgBx img {
  max-width: 100%;
  opacity: 0.1;
  transition: 0.5s;
}
.projet .box .imgBx img:hover {
  opacity: 1;
}
.projet .box .contentImg {
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 90px;
  /* background: rgba(0, 0, 0, 0.4); */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}
.projet .box .contentImg h2 {
  font-size: 20px;
  color: #000;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1px;
}
.projet .box .contentImg h2 .tltC {
  font-size: 14px;
  color: #000;
  font-weight: 200;
  line-height: 20px;
  letter-spacing: 1px;
}

@media screen and (max-width: 996px) {
  .pres {
    height: 120vh;
  }
  .pres .presS .presBx {
    flex-wrap: wrap;
  }
  .pres .presS .presBx img {
    width: 90%;
  }
  .pres .presS .presBx p {
    left: 0;
    bottom: 0;
    width: 94%;
  }
}
.galerie {
  background-color: #000;
}
.galerie .wrapper {
  max-width: 75rem;
  padding: 2rem;
  margin: 0 auto;
  margin-top: 12vh;
}
.galerie .wrapper h2 {
  font-size: 40px;
  font-weight: 100;
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
}
.galerie .wrapper p {
  text-align: center;
  color: #FFF;
  margin-bottom: 5vh;
  padding: 0 30px;
  font-weight: 300;
  margin-bottom: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 12.5rem);
  gap: 0.5rem;
}
.gallery .gallery__item--1 {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
}
.gallery .gallery__item--2 {
  grid-column: 1/span 1;
  grid-row: 2/span 1;
}
.gallery .gallery__item--3 {
  grid-column: 2/span 1;
  grid-row: 1/span 2;
}
.gallery .gallery__item--4 {
  grid-column: 3/span 1;
  grid-row: 1/span 3;
}
.gallery .gallery__item--5 {
  grid-column: 1/span 2;
  grid-row: 3/span 2;
}
.gallery .gallery__item--6 {
  grid-column: 3/span 1;
  grid-row: 4/span 1;
}
.gallery .gallery__link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.gallery .gallery__link:hover .gallery__overlay {
  opacity: 1;
}
.gallery .gallery__link:hover .gallery__overlay span:before, .gallery .gallery__link:hover .gallery__overlay span:after {
  width: 100%;
}
.gallery .gallery__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  font-size: 1.5rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}
.gallery .gallery__overlay span {
  position: relative;
  line-height: 3rem;
}
.gallery .gallery__overlay span:before, .gallery .gallery__overlay span:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background: #fff;
  transition: width 0.3s ease-out 0.2s;
}
.gallery .gallery__overlay span:before {
  top: 0;
  left: 0;
}
.gallery .gallery__overlay span:after {
  bottom: 0;
  right: 0;
}
.gallery .gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.05);
  transition: transform 0.5s, filter 0.5s;
}
.gallery .gallery__image:hover .gallery__image {
  transform: scale(1.2);
  filter: blur(2px);
}

@media screen and (max-width: 60rem) {
  .wrapper {
    padding: 1rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery .gallery__item--1 {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
  }
  .gallery .gallery__item--2 {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
  }
  .gallery .gallery__item--3 {
    grid-column: 2/span 1;
    grid-row: 1/span 2;
  }
  .gallery .gallery__item--4 {
    grid-column: 1/span 1;
    grid-row: 3/span 2;
  }
  .gallery .gallery__item--5 {
    grid-column: 2/span 1;
    grid-row: 3/span 1;
  }
  .gallery .gallery__item--6 {
    grid-column: 2/span 1;
    grid-row: 4/span 1;
  }
  .gallery .gallery__overlay {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 35rem) {
  .gallery {
    display: block;
  }
  .gallery .gallery__item {
    margin: 0.5rem;
  }
  .gallery .gallery__link {
    height: 80vw;
  }
  .gallery .gallery__overlay {
    font-size: 1rem;
  }
}
.contactB {
  background-color: #000;
  overflow-y: hidden;
}

.contact {
  position: relative;
  min-height: 90vh;
  padding: 75px 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
}
.contact .content {
  max-width: 800px;
  text-align: center;
}
.contact .content h2 {
  font-size: 40px;
  font-weight: 100;
  color: #fff;
  margin-bottom: 30px;
}
.contact .content p {
  font-weight: 300;
  color: #fff;
  margin-bottom: 20px;
}
.contact .container3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.contact .container3 .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contact .container3 .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.contact .container3 .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.contact .container3 .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}
.contact .container3 .contactInfo .box .text h3 {
  font-weight: 500;
  color: lightseagreen;
}
.contact .contactForm {
  width: 40%;
  padding: 40px;
  background: #ffffff;
}
.contact .contactForm h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.contact .contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contact .contactForm .inputBox input, .contact .contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contact .contactForm .inputBox input:focus ~ span,
.contact .contactForm .inputBox input:valid ~ span,
.contact .contactForm .inputBox textarea:focus ~ span,
.contact .contactForm .inputBox textarea:valid ~ span {
  color: crimson;
  font-size: 12px;
  transform: translateY(-15px);
}
.contact .contactForm .inputBox input[type=submit] {
  width: 100px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
.contact .contactForm span {
  position: absolute;
  left: 0;
  padding: 1px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

@media screen and (max-width: 1250px) {
  .contactB {
    overflow-y: visible;
  }
  .contact {
    padding: 0;
    padding-bottom: 40px;
    margin-top: 5vh;
    padding: 75px 0px;
  }
  .contact .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact .contact-desc {
    width: 90%;
  }
  .contact .contactForm {
    width: 90%;
  }
  .contact .contactForm .inputBox input[type=submit] {
    font-size: 20px !important;
  }
  .container3 {
    flex-direction: column-reverse;
  }
  .container3 .contactInfo {
    width: 70%;
  }
  .container3 .contactInfo .box {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  .container3 .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
  }
  .container3 .contactInfo .box img {
    max-width: 60%;
  }
  .container3 .contactInfo .text {
    height: auto !important;
  }
  .container3 .contactInfo .text h4 {
    display: none;
  }
}
footer .content-foot {
  background-color: rgb(43, 43, 43);
}
footer .content-foot .foot-text {
  padding: 25px 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .content-foot .container2 {
  display: flex;
  justify-content: center;
}
footer .content-foot .container2 p {
  color: rgb(136, 136, 136);
}
footer .content-foot .container2 p span {
  color: white;
  font-weight: bold;
}
footer .content-foot .container2 .pay {
  display: flex;
  gap: 20px;
  width: 80%;
}
footer .content-foot .container2 .pay img {
  width: 70px;
  height: 40px;
  object-fit: contain;
  background-color: white;
  padding: 10px 5px;
  cursor: pointer;
}
footer .littleFooter {
  text-align: center;
  background-color: rgb(72, 72, 72);
}
footer .littleFooter p {
  color: #acacac;
}

/*# sourceMappingURL=style.css.map */
