.contact {
    position: relative;
    min-height: 100vh;
    padding: 75px 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
	background-color: #C9D2FF;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 40px;
    font-family: acumin-pro-semi-condensed,sans-serif;
	font-weight: 700;
	font-style: normal;
    color: #000;
    margin-bottom: 30px;
}
.contact .content p{
	
    font-weight: 300;
    color: #000;
    margin-bottom: 20px;
}
.container3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container3 .contactInfo{
    width: 50%;
    display: flex;
	align-items: center;
    flex-direction: column;
}
.container3 .contactInfo .box{
    position: relative;
    display: flex;
	width: 50%;
	border-radius: 200px;
	height: 80px;
	margin-top: 50px;
	background-color: #fff;
}
.container3 .contactInfo .box .icon{
    min-width: 85px;
    height: 85px;
	margin-left: -2%;
    background: #FF4495;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container3 .contactInfo .box .text{
    margin-left: 50px;
	padding-left: 15px;
	padding-top: 3px;
    font-size: 16px;
    color: #000;
    font-weight: 300;
	width: 100%;
	margin: -20px 0;
	height: 80px;
}
.container3 .contactInfo .box .text h4{

    font-family: acumin-pro-semi-condensed,sans-serif;
	font-size: 25px;
	margin-block-start: 1rem;
    margin-block-end: 1rem;
	font-weight: 400;
	font-style: normal;
    color: lightseagreen;
}
.contactForm{
    width: 40%;
    padding: 3%;
    background: #FF4495;
	border-radius: 30px;
}
.contactForm h2{
	font-family: acumin-pro,sans-serif;
	font-weight: 700;
	font-style: normal;
    font-size: 40px;
    color: #fff;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
	color: #fff;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    resize: none;
	color: #fff;
	background: #FF4495;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 1px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #fff;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #fff;
    font-size: 12px;
    transform: translateY(-15px);
}
.contactForm .inputBox input[type="submit"]{
    width: 30%;
	font-family: acumin-pro-semi-condensed, sans-serif;
	font-weight: 500;
	font-style: normal;
    background-color: #fff;
    color: #FF4495;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
	border-radius: 50px;
}



@media screen and (max-width: 1250px) {
    .contact{
		padding: 0;
		padding-bottom: 40px;
	}

	.contact .content{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.contact-desc{
		width: 90%;
	}

	

	.contactForm .inputBox input[type="submit"]{
		font-size: 20px !important;
	}

	.contactForm{
		width: 90%;
	}


	.container3{
		flex-direction: column-reverse;
	}


	.container3 .contactInfo{
		width: 70%;
	}

	.container3 .contactInfo .box .icon{
		min-width: 60px;
    	height: 60px;
	}

	.container3 .contactInfo .box{
		width: 100%;
		height: 60px;
		display: flex;
		align-items: center;
		margin-top: 20px;
	}

	.box .icon img{
		max-width: 60%;
	}

	.contactInfo .text{
		height: auto !important;
	}
	
	.contactInfo .text h4{
		display: none;
	}
}